{project_plugins, [rebar3_ex_doc]}.

{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {"(linux)", compile, "make -C c_src"}
]}.

{post_hooks, [
    {"(linux)", clean, "make -C c_src clean"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [gpio]}
]}.

{ex_doc, [
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}},
        {'NOTICE', #{title => <<"Copyright">>}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/kopera/erlang-gpio"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.